In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import sklearn.cluster

In [36]:
df=pd.read_csv(r'C:\Users\zsoltani\Desktop\Zohreh Training and Personal files\Python class\Chapter 7\train.csv\\train.csv')
df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [39]:
df.Category.unique()

array(['WARRANTS', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VEHICLE THEFT',
       'VANDALISM', 'NON-CRIMINAL', 'ROBBERY', 'ASSAULT', 'WEAPON LAWS',
       'BURGLARY', 'SUSPICIOUS OCC', 'DRUNKENNESS',
       'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC', 'STOLEN PROPERTY',
       'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
       'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT',
       'ARSON', 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY',
       'EMBEZZLEMENT', 'SUICIDE', 'LOITERING',
       'SEX OFFENSES NON FORCIBLE', 'EXTORTION', 'GAMBLING', 'BAD CHECKS',
       'TREA', 'RECOVERED VEHICLE', 'PORNOGRAPHY/OBSCENE MAT'],
      dtype=object)

In [40]:
df=pd.get_dummies(data=df, columns=['PdDistrict','DayOfWeek'])

In [41]:
df.head()

,Dates,Category,Descript,Resolution,Address,X,Y,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,...,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [44]:
y=df['Category']
category=y.unique()
CatRep={}
count=1
for data in category:
    CatRep[data]=count
    count+=1

df['Category']=df['Category'].replace(CatRep)
df.head()

,Dates,Category,Descript,Resolution,Address,X,Y,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,...,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,2015-05-13 23:53:00,1,WARRANT ARREST,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2015-05-13 23:53:00,2,TRAFFIC VIOLATION ARREST,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2015-05-13 23:33:00,2,TRAFFIC VIOLATION ARREST,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2015-05-13 23:30:00,3,GRAND THEFT FROM LOCKED AUTO,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2015-05-13 23:30:00,3,GRAND THEFT FROM LOCKED AUTO,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [49]:
X=df.drop(df[['Category','Descript','Dates','Resolution','Address']], axis=1)
print(X)

                 X          Y  PdDistrict_BAYVIEW  PdDistrict_CENTRAL  \
0      -122.425892  37.774599                   0                   0
1      -122.425892  37.774599                   0                   0
2      -122.424363  37.800414                   0                   0
3      -122.426995  37.800873                   0                   0
4      -122.438738  37.771541                   0                   0
...            ...        ...                 ...                 ...
878044 -122.459033  37.714056                   0                   0
878045 -122.447364  37.731948                   0                   0
878046 -122.403390  37.780266                   0                   0
878047 -122.390531  37.780607                   0                   0
878048 -122.394926  37.738212                   1                   0

        PdDistrict_INGLESIDE  PdDistrict_MISSION  PdDistrict_NORTHERN  \
0                          0                   0                    1
1                          0                   0                    1
2                          0                   0                    1
3                          0                   0                    1
4                          0                   0                    0
...                      ...                 ...                  ...
878044                     0                   0                    0
878045                     1                   0                    0
878046                     0                   0                    0
878047                     0                   0                    0
878048                     0                   0                    0

        PdDistrict_PARK  PdDistrict_RICHMOND  PdDistrict_SOUTHERN  \
0                     0                    0                    0
1                     0                    0                    0
2                     0                    0                    0
3                     0                    0                    0
4                     1                    0                    0
...                 ...                  ...                  ...
878044                0                    0                    0
878045                0                    0                    0
878046                0                    0                    1
878047                0                    0                    1
878048                0                    0                    0

        PdDistrict_TARAVAL  PdDistrict_TENDERLOIN  DayOfWeek_Friday  \
0                        0                      0                 0
1                        0                      0                 0
2                        0                      0                 0
3                        0                      0                 0
4                        0                      0                 0
...                    ...                    ...               ...
878044                   1                      0                 0
878045                   0                      0                 0
878046                   0                      0                 0
878047                   0                      0                 0
878048                   0                      0                 0

        DayOfWeek_Monday  DayOfWeek_Saturday  DayOfWeek_Sunday  \
0                      0                   0                 0
1                      0                   0                 0
2                      0                   0                 0
3                      0                   0                 0
4                      0                   0                 0
...                  ...                 ...               ...
878044                 1                   0                 0
878045                 1                   0                 0
878046                 1                   0                 0
878047                 1                   0                 0
878048                 1                   0                 0

        DayOfWeek_Thursday  DayOfWeek_Tuesday  DayOfWeek_Wednesday
0                        0                  0                    1
1                        0                  0                    1
2                        0                  0                    1
3                        0                  0                    1
4                        0                  0                    1
...                    ...                ...                  ...
878044                   0                  0                    0
878045                   0                  0                    0
878046                   0                  0                    0
878047                   0                  0                    0
878048                   0                  0                    0

[878049 rows x 19 columns]

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [56]:
scaled_Xtrain = scaler.fit_transform(X_train)

In [57]:
print (scaled_Xtrain)
scaled_Xtrain.shape

[[-0.21900061 -0.08507512 -0.33734973 ... -0.40725402 -0.40747952
  -0.41574873]
 [-2.04225343  0.02205515 -0.33734973 ... -0.40725402 -0.40747952
  -0.41574873]
 [ 0.48287336  0.02866417 -0.33734973 ... -0.40725402 -0.40747952
  -0.41574873]
 ...
 [-0.14260238 -0.00451238 -0.33734973 ... -0.40725402 -0.40747952
  -0.41574873]
 [ 1.15762596 -0.03606254  2.96428275 ... -0.40725402 -0.40747952
  -0.41574873]
 [ 0.47113469  0.02633798 -0.33734973 ... -0.40725402 -0.40747952
  -0.41574873]]

(658536, 19)

In [58]:
scaled_Xtest = scaler.transform(X_test)

In [59]:
X_train.shape

(658536, 19)

In [60]:
y_train.shape

(658536,)

In [61]:
X_test.shape

(219513, 19)

In [62]:
y_test.shape

(219513,)